@import "../partial_files/_header.scss";
@import "../partial_files/_banner.scss";
@import "../partial_files/_popular_localities.scss";
@import "../partial_files/_featured_project.scss";
@import "../partial_files/_recently_added_project.scss";
@import "../partial_files/_featured_builder.scss";
@import "../partial_files/_most_popular_search.scss";
@import "../partial_files/_cta.scss";
@import "../partial_files/_footer.scss";

html{
	scroll-behavior: smooth; 
	} 
* {
	margin: 0; 
	padding: 0;
} 
body { 
	background: #fff;
	color: #333;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 1em;
	letter-spacing: 0.2px;
	font-family:$open-sans; 
} 
ul { 
	padding: 0; 
} 
ul, ol {
	list-style: none;
}

h2 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	}
section {
	margin-bottom: 110px;
	}





