<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/static/scss/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
</head>

<body>
	<main>
		<header>
			<nav>
				<div class="logo">
					<img src="/static/img/HomesfyLogo.svg" alt="">
				</div>
				<div class="nav-btn">
					<ul>
						<li>
							<div class="arrow">
								<div class="arrow-btn">
									<img src="/static/img/up-arrow.png" alt="">
								</div>
							</div>
							{{!-- <div class="call">
								<div class="call-btn">
									<img src="/static/img/call.png" alt="">
								</div>
							</div>
							<div class="question">
								<div class="question-btn">
									<img src="/static/img/question.png" alt="">
								</div>
							</div> --}}
						</li>
						<li>
							<button class="menu"> Menu <img src="/static/img/up-arrow.png" alt=""></button>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<section class="banner">
			{{!-- <div class="banner-content">
				<p> Looking to buy property ?</p>
				<h1> Find your dream home instead.</h1>
				<div class="search-box">
					<input type="text" placeholder="Search by location, project name or builder">
					<div>
						<button class="location-btn"> <img src="/static/img/up-arrow.png" alt=""></button>
						<button class="search-btn"> search</button>
					</div>
				</div>
			</div> --}}
		</section>
		
		<section class="home-listing">
			<ul>
				<li>Home</li>
				<li>Property in Mumbai</li>
				<li>Property in Thane</li>
				<li>All Residential</li>
			</ul>
		</section>

		<section>
			<div class="heading-content">
				<h2 class="heading">21,124</h2>
				<p class="sub-heading">Property in Thane Mumbai</p>
			</div>
			<div class="property-location-para">
				<span>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</span>
				<button class="read-more-btn">Read More +</button>
			</div>
		</section>

		<section>
			<div class="property-listing-filter">
				<div>

				</div>
				<div class="bhk-dropdown">
					<select name="bhk-dropdown" id="">
						<option value="BHK">BHK</option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</div>
				<div class="property-type-dropdown">
					<select name="property-type-dropdown" id="">
						<option value="Property Type">Property Type</option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</div>
				<div class="budget-dropdown">
					<select name="budget-dropdown" id="">
						<option value="Budget">Budget</option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</div>
				<div class="possesion-status-dropdown">
					<select name="possesion-status-dropdown" id="">
						<option value="Possation Status">Possation Status</option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</div>

				<div class="more-filter-dropdown">
					<select name="more-filter-dropdown" id="">
						<option value="More Filter">More Filter</option>
						<option value=""></option>
						<option value=""></option>
					</select>
				</div>
			</div>
		</section>

		<section>
			<div class="propery-card-listing">
				<div class="card-img">
					<div>
						<img src="/static/img/home-meeting/cardImg.png" alt="">
						<div class="prev-next-btn">
							<button class="prev"><img src="/static/img/prev.png" alt=""></button>
							<button class="next"><img src="/static/img/next.png" alt=""></button>
						</div>
					</div>
					<div class="builder-logo-name">
						<img src="/static/img/home-meeting/piramal-logo.png" alt="">
						<div class="builder-name">
							<p>Piramal Reality</p>
							<p>Builder</p>
						</div>
					</div>
				</div>

				<div class="card-content">
					<div class="property-apartment">
						<div>
							<span>2 BHK Apartment </span>
							<span>in Piramal S Class Homes</span>
						</div>
						<button class="share-btn"><img src="/static/img/share.png" alt=""></button>
					</div>

					<div class="location-details">
						<div class="location-address">
							<img src="/static/img/home-meeting/location-icon.png" alt="location-icon">
							<p>Mulund West, Mumbai</p>
						</div>
						<div class="education">
							<img src="/static/img/home-meeting/location-icon.png" alt="">
							<p>6 Education</p>
						</div>
						<div class="education-dropdown">
							<select name="education-dropdown" id="">
								<option value="05">05</option>
								<option value=""></option>
								<option value=""></option>
							</select>
						</div>
					</div>

					<div class="price-table">
						<p>1-4 BHK</p>
						<div class="price">
							<p>₹ 44.04 L - 01.50 Cr.</p>
							<img src="/static/img/home-meeting/alert-icon.png" alt="">
						</div>
						<p>288-458sq.ft</p>
						<div class="education-dropdown">
							<select name="more-dropdown" id="">
								<option value="04">04 More</option>
								<option value=""></option>
								<option value=""></option>
							</select>
						</div>
					</div>

					<div class="offer">
						<p>Offer</p>
						<span> Free Registration & Stamp Duty</span>
					</div>

					<div class="possession">
						<p>Possession by Mar 2026</p>
						<span>New</span>
					</div>

					<div class="read-more">
						<p>2 BHK Property by Piramal Realty Mumbai in Mulund West Mumbai</p>
						<button class="read-more-btn">More</button>
					</div>

					<div class="region-experts">
						<img src="/static/img/home-meeting/bipin-more.png" alt="">
						<div>
							<p>Bipin More</p>
							<p>Thane's Region Experts</p>
						</div>
						<button class="view-phone">View Phone</button>
						<button class="details">Details</button>
					</div>

				</div>
			</div>
		</section>

		<section class="form">
			<div class="common-form">
				<div class="form-heading">Connect with the right person below -</div>
				<div class="form-content">
					<div class="form-group">
						<div class="name-cont">
							<input class="form-control username" id="dropEnquiry_Name" placeholder="Enter Your Name"
								title="Name cannot be digit or special character" pattern="[a-zA-Z ]{4,35}" required="">
						</div>
						<div class="contact-group">
							<div class="country-code">
								<select name="cars" id="dropEnquiry_CountryCode">
									<option disabled="disabled" value="">Country Code</option>
									<option data-countrycode="IN" value="+91" selected="">India (+91)</option>
									<option data-countrycode="AU" value="+61">Australia (+61)</option>
									<option data-countrycode="BH" value="+973">Bahrain (+973)</option>
								</select>
							</div>
							<div class="m-number-cont">
								<input class="form-control phone-number" id="dropEnquiry_Number"
									placeholder="Phone Number" type="tel" pattern="[0-9]{10}$"
									title="mobile number must be numeric &amp; of 10 digits." maxlength="10"
									required="">
							</div>
						</div>
						<div class="notification">
							<input type="checkbox" class="checkbox1" id="checkbox1" name="" value="">
							<p>You will recieve notifications via SMS, Whatsapp, Email.
								You can change your preference later.</p>
						</div>
						<div class="home-lone">
							<input type="checkbox" class="checkbox2" id="checkbox2" name="" value="">
							<p>Yes, I need a home loan </p>
						</div>
						<button class="submit-btn">Submit</button>

					</div>
				</div>
			</div>
		</section>

		<section class="most-popular-search card">
			<div class="heading-content">
				<h2 class="heading">Most</h2>
				<p class="sub-heading">Popular Searches</p>
			</div>
			<div class="popular-searches">
				<div class="col-3">
					<div class="cities">Cities</div>
					<ul>
						<li>Thane</li>
						<li>Pune</li>
						<li>Mumbai</li>
						<li>Dombivali</li>
						<li>Bangalore</li>
						<li>Navi-Mumbai</li>
					</ul>
				</div>
				<div class="col-3">
					<div class="regions">Regions</div>
					<ul>
						<li>Harbour</li>
						<li>South Mumbai</li>
						<li>Central Mumbai</li>
						<li>Western Mumbai</li>
					</ul>
				</div>
				<div class="col-3">
					<div class="locality">Localities</div>
					<ul>
						<li>Worli</li>
						<li>Parel</li>
						<li>Sewri</li>
						<li>Wadala</li>
						<li>Lowerparel</li>
						<li>Kolshet Road</li>
					</ul>
				</div>
				<div class="col-3">
					<div class="developers">Developers</div>
					<ul>
						<li>Lodha</li>
						<li>Dosti</li>
						<li>Sobha</li>
						<li>Godrej</li>
						<li>Runwal</li>
						<li>Prestige</li>
					</ul>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="links col-6">
				<div class="terms-privacy">
					<a href="" class="col-2">OVERVIEW</a>
					<a href="" class="col-1">About Us </a>
					<a href="" class="col-1">Contact Us</a>
					<a href="" class="col-1">Terms</a>
					<a href="" class="col-1">Privacy Policy</a>
					<a href="" class="col-1">Blog</a>
					<a href="" class="col-1">Loan</a>
				</div>
				<div class="developer">DEVELOPER</div>
				<div class="developers-list">
					<ul class="col-3">
						<li>Kanakia</li>
						<li>Purvankara</li>
						<li>Lodha Group</li>
						<li>Wadhwa Group</li>
						<li>Sobha Limited</li>
					</ul>
					<ul class="col-3">
						<li>Prestige Group</li>
						<li>Godrej Properties</li>
						<li>Shapoorji Pallonj</li>
						<li>Kolte Patil Devlopers</li>
					</ul>
				</div>
			</div>

			<div class="social-icons col-6">
				<div class="keep-in-touch-section">
					<p class="keep-in-touch">KEEP IN TOUCH</p>
					<div class="social-btn">
						<button><img src="/static/img/facebook.png" alt="facebook"></button>
						<button><img src="/static/img/facebook.png" alt="facebook"></button>
						<button><img src="/static/img/facebook.png" alt="linkdin"></button>

					</div>
					<div class="company-name">
						<p>Homesfy</p>
						<p>Craft Financial Advisors Pvt. LTD</p>
					</div>
					<div class="mumbai-banglore-address">
						<ul class="col-4">
							<li>Mumbai</li>
							<li>Building, 602, Dev Corpora, Eastern Express Hwy, near Cadbury Junction, Thane,
								Maharashtra 400601</li>
						</ul>
						<ul class="col-4">
							<li>Bangalore</li>
							<li>24, Myworkarea, Benaka Complex, 2nd Cross, Sirur Park Road, Sheshadripuram,
								Bangalore-
								560020</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<div class="company-logo">
			<div class="homesfy-logo">
				<img src="/static/img/homesfy-logo.png" alt="">
			</div>
			<div class="magnet-logo">
				<img src="/static/img/homesfy-logo.png" alt="">
			</div>
		</div>
	</main>
</body>

</html>