<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="scss/style.css">
</head>
<body>
	{{!-- <h1 class="abc">hello {{user}}</h1> {{{placeholder}}} --}}
	<main>
		<header>
			<nav>
				<div>
					<img src="" alt="">
				</div>
				<div>
					<div class="FloatingBtn">btn</div>
					<div>menu</div>
				</div>
			</nav>
		</header>

		<section class="Banner">
			<div>
				<span> Looking to buy property ?</span>
				<h1> Find your dream home instead.</h1>
				<input type="text" placeholder="Search by location, project name or builder">
				<button> search</button>
			</div>
		</section>

		<section class="PopularLocalities">
			<div>
				<h2 for="localities">Popular:
				<select name="localities" id="localities">
					<option value="mumbai">Mumbai</option>
					<option value="Pune">Pune</option>
					<option value="Thane">Thane</option>
				</select>
				</h2>
			</div>
			<div>
				<div class="LocalitiesCard">
					<img src="" alt="">
					<div>
						<p>thane</p>
						<p>upcoming projects</p> 
						<p>ongoing projecs</p>
					</div>
				</div>
			</div>
		</section>
		
		<section class="FeaturedProject">

		</section>
		
		<section class="RecentlyAddedProject"></section>
		
		<section class="FeaturedBuilder"></section>
		
		<section class="Cta"></section>
		
		<section class="MostPopularSearch"></section>
		
		<footer class="footer"></footer>
	</main>
</body>
</html>