<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/scss/main.css">
	<style>
		.abc{
			color: green;
		}
	</style>
</head>
<body>
	<h1>hello {{user}}</h1>
	{{{placeholder}}}
	<main>
		<header>
			<nav>
				<div>
					<img src="" alt="">
				</div>
				<div>
					<div class="FloatingBtn">btn</div>
					<div>menu</div>
				</div>
			</nav>
		</header>

		<section class="Banner">
			<div>
				<span> Looking to buy property ?</span>
				<h1> Find your dream home instead.</h1>
			</div>
		</section>

		<section class="PopularLocalities"></section>
		
		<section class="FeaturedProject"></section>
		
		<section class="RecentlyAddedProject"></section>
		
		<section class="FeaturedBuilder"></section>
		
		<section class="Cta"></section>
		
		<section class="MostPopularSearch"></section>
		
		<footer class="footer"></footer>
	</main>
</body>
</html>