.similar-projects{
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	.property-img{
		width: 100%;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		height: 200px;
		object-fit: cover;
	}
	.property-details{
		padding: 10px;
		.builder-details{
			position: absolute;
			div{
				display: flex;
				align-items: center;
				p{
					font-weight: 700;
					font-size: 20px;
				}
			}
		}

	}
}