<div class="cta-mob-section">
    <div class="cta-mob-heading">
        <h3>Looking for the right property?</h3>
        <p>Consult with the Real estate experts -</p>
    </div>
    <div class="name-cont">
				<input class="form-control username" id="dropEnquiry_Name" placeholder="Enter Your Name"
					title="Name cannot be digit or special character" pattern="[a-zA-Z ]{4,35}" required="">
				<label for="">Name</label>
			</div>
            <button class="search-btn">View Phone</button>
</div>