<div class="cta-mob-section">
    <div class="cta-mob-heading">
        <h3>Looking for the right property?</h3>
        <p>Consult with the Real estate experts -</p>
    </div>
    <form class="common-form">
        <div class="m-number-cont">
            <input class="form-control phone-number" id="dropEnquiry_Number" placeholder="Phone Number" type="tel"
                pattern="[0-9]{10}$" title="mobile number must be numeric &amp; of 10 digits." maxlength="10"
                required="">
        </div>
    </form>
    <div class="cta-mob-btn">
        <button class="search-btn">Call Me Back</button>
        <img src="/static/img/home/cta-img-mob.png" alt="">
    </div>
</div>