<div class="featured-projects-card-mob">
    <div class="featured-projects-img-container">
        {{!-- <img class="property-img" src="/static/img/home/cardimage.png" alt=""> --}}
        <div class="property-logo">
            <img src="/static/img/HomesfyLogo_Mob.svg" alt="">
            <p>Lodha Group</p>
        </div>
        <div class="property-details">
            <ul>
                <li class="name">Lodha Primo</li>
                <li class="location">Parel, Mumbai</li>
                <li class="price">Price
                    <span>₹ 65 Lacs+</span>
                </li>
                <li class="typology">Typology
                    <span>1, 2 & 3 bed apartments</span>
                </li>
                <li class="offer">Offer
                    <span> Exclusive 25:75 payment plan* </span>
                </li>
            </ul>
        </div>
    </div>
	<div class="featured-projects-btn-container">
        <button class="search-btn">View Phone</button>
        <button class="share-btn"><img src="/static/img/icons/whatsapp.svg" alt=""></button>
    </div>
</div>