<div class="featured-projects-card property-card">
	<img class="property-img" src="/static/img/home/cardimage.png" alt="">
	<div class="property-details">
		<div class="property-details-heading">
			<h3>lodha bellagion powai</h3>
			<button class="share-btn"><img src="/static/img/share.png" alt=""></button>
		</div>
		<ul>
			<li class="price">Price
				<span>₹ 65 Lacs+</span>
			</li>
			<li class="typology">Typology
				<span>1, 2 & 3 bed apartments</span>
			</li>
			<li class="location">Location
				<span> Worli, Mumbai</span>
			</li>
			<li class="offer">
				<p>Offer</p>
				<span> Free Registration & Stamp Duty</span>
			</li>
		</ul>

	</div>
</div>