<div class="floor-plan">
	<div class="floor-img">
		<img src="/static/img/details/unitplan.png" alt="">
	</div>
	<div class="floor-price">
		<img src="" alt="">
		<p>39.7 Lakh*,</p>
		<span>1 RK</span>
	</div>
	<div class="floor-area">
		<img src="" alt="">
		<p>497 sq. Ft</p>
	</div>
	<div class="floor-enquire-btn">
		<button class="enquire-btn">Enquire Now</button>
	</div>
</div>