.cta{
	background-image: url('/static/img/ctaImg.png');
	color: #fff;
	padding: 50px;
	div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3{
			font-weight: 800;
			font-size: 28px;
		}
		p{
			font-weight: 500;
			font-size: 20px;
		}
		.cta-form{
			display: flex;
			.form
			{
				
			}
		}
	}

}