.cta{
	background-image: url('/static/img/ctaImg.png');
	color: #fff;
	padding: 50px;
	.cta-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3{
			font-weight: 800;
			font-size: 28px;
		}
		p{
			font-weight: 500;
			font-size: 20px;
		}
		.cta-form{
			display: flex;
			.form
			{
				display: flex;
				background: rgba(0, 0, 0, 0.4);
				border: 1px solid rgba(21, 30, 45, 0.5);
				border-radius: 10px;
				padding: 10px;
				#number,#submit{
					padding: 10px;
					border: 1px solid #049B5A;
				}
				#number{
					background: rgba(0, 0, 0, 0.5);
					border-radius: 5px 0px 0px 5px;
				}
				#submit{
					background: #049B5A;
					border-radius: 0px 5px 5px 0px;
					color: #fff;
				}
			}
		}
	}

}