.PopularLocalities{
	.PopularLocalitiesHeading{
		label,#localities{
			font-size: 26px;
		}
		label{
			font-weight: 600;
			border-bottom: 3px solid #F59A00 ;
		}
		#localities{
			border: none;
			background: #fff;
			font-weight: 800;
		}
	}
}