.popular-localities{
	.popular-localities-heading{
		label,#localities{
			font-size: 26px;
		}
		label{
			font-weight: 600;
			border-bottom: 3px solid #F59A00 ;
			color: #151e2d8f;
		}
		#localities{
			border: none;
			background: #fff;
			font-weight: 800;
		}
	}
	.localities-card-list{
		display: flex;
		flex-wrap: wrap;
		.localities-card{
			display: flex;
			padding: 10px;
			border-radius: 8px;
			box-shadow: 0px 31px 157px rgba(0, 0, 0, 0.02), 0px 9.34559px 47.3309px rgba(0, 0, 0, 0.04), 0px 3.88168px 19.6588px rgba(0, 0, 0, 0.05), 0px 1.40393px 7.11022px rgba(0, 0, 0, 0.07);
			.localities-card-details{
				padding: 10px;
				color: #151E2D;
				.location-name{
					font-size: 16px;
					font-weight: 800;
					opacity: 0.56;
					border: none;
				}
				p{
					font-size: 14px;
					font-weight: 600;
					border-bottom: 2px dashed #50aee0;
				}
			}
		}
	}
}