.banner{
	background-image: url('/static/img/builder/Banner.png');
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	.builder-logo{
		padding: 10px;
		border-radius: 4px;
		margin: 0 0 60px 0;
		box-shadow: 0px 31px 157px rgba(10, 10, 10, 0.02), 0px 9.34559px 47.3309px rgba(0, 0, 0, 0.04), 0px 3.88168px 19.6588px rgba(0, 0, 0, 0.05), 0px 1.40393px 7.11022px rgba(0, 0, 0, 0.07);
	}
}

.builder-container{
	display: flex;
	.top-cities{
		display: flex;
		justify-content: space-between;
		margin: 0 0 10px 0;
	}
}