.detail-container{
	display: flex;
	.project-specification{
		.property-name{
			display: flex;
			justify-content: space-between;
			p{
				text-transform: uppercase;
				color: #151E2D;
				opacity: 0.72;
				font-weight: 800;
				font-size: 30px;
			}
		}
		.apartment-details{
			display: flex;
			.apartment, .carpet-area, .builder-price, .rera{
				p{
					font-weight: 600;
				}
			}
		}
	}
	.navbar{
		ul{
			display: flex;
			justify-content: space-between;
			li{
				font-weight: 600;
				opacity: 0.75;
			}
		}
	}
	.project-highlight-section{
		.project-highlights{
			ul{
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;
				li{
					p{
						&:first-child{
							font-weight: 600;
						}
					}
				}
			}
		}
	}
	.overview{
		.heading-content{
			margin-bottom: 40px;
		}
	}
}