$content-color: #151E2D;
$primary-color: #049B5A;

.detail-container{
	display: flex;
	.project-specification{
		.property-name{
			display: flex;
			justify-content: space-between;
			p{
				text-transform: uppercase;
				color: $content-color;
				opacity: 0.72;
				font-weight: 800;
				font-size: 30px;
			}
		}
		.property-address{
			display: flex;
			margin-bottom: 40px;
			img, p, a{
				padding: 0 20px 0 0;
			}
			a{
				color: $primary-color;
				font-weight: 600;
			}
		}
		.apartment-details{
			display: flex;
			.apartment, .carpet-area, .builder-price, .rera{
				p{
					font-weight: 600;
				}
				span{
					font-weight: 600;
					color: $content-color;
					opacity: 0.64;
				}
			}
		}
	}
	.navbar{
		margin-bottom: 40px;
		ul{
			display: flex;
			justify-content: space-between;
			li{
				font-weight: 600;
				color: $content-color;
				opacity: 0.64;
			}
		}
	}
	.project-highlight-section{
		.project-highlights{
			ul{
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;
				li{
					p{
						font-weight: 600;
						&:last-child{
							color: $content-color;
							opacity: 0.64;
						}
					}
				}
			}
		}
	}

	.price-floor-plan{
		.tab-btn{
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			button{
				padding: 15px;
			}
		}
		.floor-plan{
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: 1px solid #ccc;
			border-radius: 8px;
			padding: 10px;
			margin-bottom: 20px;
			.floor-img{
				img{
					border:1px solid #ccc;
					border-radius: 4px;
				}
			}
			.floor-price, .floor-area{
				display: flex;
				p{
					font-weight: 600;
				}
			}
			.floor-enquire-btn{
				.enquire-btn{
					border: 1px solid #049B5A;
					border-radius: 50px;
					background: #049B5A;
					color: #fff;
					padding: 10px;
				}
			}
		}
		div{
			text-align: right;
		}
	}

	.amenities{
		.amenities-list{
			display: flex;
			align-items: center;
			ul{
				display: flex;
				justify-content: space-between;
				li{
					background: #151e2d05;
				border: 1px solid #151e2d1f;
				border-radius: 4px;
				text-align: center;
				font-size: 14px;
				font-weight: 600;
				margin: 0 10px 0 0;
				padding: 5px;
				}
			}
			div{
				text-align: right;
			}
		}
	}
}

.heading-content{
	margin-bottom: 20px;
}
.btn{
	background: #fff;
	padding: 10px 5px;
	border: 1px solid #049B5A;
	border-radius: 50px;
	color: #049B5A;
}