.detail-container{
	display: flex;
	.main-details{
		display: flex;
		.apartment-details{
			.apartment, .Skyscraper{
				margin-bottom: 20px;
			}
			.apartment{
				span{
					font-weight: 600;
					font-size: 24px;
					&:last-child{
						font-size: 20px;
						color: #F59A00;
					}
				}
			}
			.Skyscraper{
				display: flex;
				p{font-size: 16px;}
			}
			.status-bath-detail{
				display: flex;
				// justify-content: space-between;
				div{
					&:first-child{
						padding: 0 20px 0 0;
					}
				}
				.status{
					p{
						font-size: 16px;
						&:last-child{font-weight: 700;}
					}
				}
			}
		}
	}
}