.detail-container{
	display: flex;
	.main-details{
		display: flex;
		.apartment-details{
			.apartment{
				span{
					font-weight: 600;
					font-size: 24px;
					&:last-child{
						font-size: 20px;
						color: #F59A00;
					}
				}
			}
			.Skyscraper{
				display: flex;

			}
			.status-bath-detail{
				display: flex;
				// justify-content: space-between;
			}
		}
	}
}