.banner{
	margin-bottom: 0px;
}

.main-content{
	display: flex;
	.form-section{
		padding: 0 48px 0 0;
		.common-form{
			.notification{
				.checkbox1{
					width: 55px; height:55px;
				}
			}
		}
	}

}

.propery-card-listing{
	.card-img{
		.property-img-section{
			img{
				width: 250px;
			}
		}
	}
}

.home-listing{
	padding: 10px 20px;
	background-color: #C9FAD1;
	ul{
		display: flex;
		
		li{
			margin-right: 20px;
		}
	}
}

