.heading-content{
	margin-bottom: 24px;
}
.property-card
{
	margin: 10px;
}

.prev-next-btn
{
	text-align: right;
}

header{
	top:0;
	z-index:99;
	nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		color: #fff;
		font-size: 18px;
		.logo{
			width: 20%;
		}
		.nav-btn{
			display: flex;
			flex-basis: auto;
			justify-content: flex-end;
			align-items: center;
			ul{
				display: flex;
				li{
					&:first-child{
						margin-right: 30px;
					}
					&:last-child{
						margin-right: 20px;
					}
				}
			}
		}
	}
}

.banner{
	background-image: url(/static/img/banner.png);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}

.popular-localities{
	.localities-card{
		margin: 10px;
		img{
			width: 30%;
		}
		.localities-card-details{
			width: 70%;
		}
	}
	.view-all{
		text-align: right;
		a{
			color: #000;
			font-size: 14px;
			font-weight: 600;
		}
	}
}

.featured-projects-card-list, .recently-added-project-card-list, .featured-builders-card-list{
	display: flex;
}

.featured-builders-card{
	color: #151E2D;
	h3
	{
		font-weight: 500;
		font-size: 22px;
	}
	.read-more
	{
		margin-bottom: 20px;
		p{
			font-weight: 400;
			font-size: 14px;
			opacity: 0.86;
		}
		.read-more-btn{
			border: none;
			color: #049B5A;
			background: #fff;
		}
	}
	ul{
		display: flex;
		justify-content: space-between;
		li{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.item1{
				color: #F59A00;
				font-weight: 900;
				font-size: 18px;
			}
			.item2{
				font-weight: 500;
				font-size: 14px;
				text-align: center;
			}
		}
	}
}

.cta{
	background-image: url('/static/img/ctaImg.png');
	display: flex;
    justify-content: center;
	color: #fff;
	padding: 50px;
}

.most-popular-search{
	.popular-searches{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		.tab{
			width: 25%;
		}
		.cities, .regions, .locality, .developers{
			border-bottom: 1px solid #0000007a;
			font-weight: 800;
			font-size: 18px;
		}
	}
}