<div class="cta-content">
				<h3>Looking for the right property?</h3>
				<p>Consult with the Real estate experts -</p>
				<form class="cta-form">
					<div class="form">
						<div class="number">
							<input id="number" placeholder="Enter Your Number" name="phoneno" type="tel"
								title="mobile number must be numeric &amp; of 10 digits." maxlength="10" required="">
						</div>
						<div class="submit">
							<input id="submit" type="submit" value="Call Me Back">
						</div>
					</div>
				</form>
			</div>