<div class="featured-builders-card property-card">
	<img class="property-img" src="/static/img/home/cardimage.png" alt="">
	<div class="property-details">
		<div class="property-details-heading">
			<img src="/static/img/home/lodhagroup-logo.png" alt="">
			<button class="share-btn"><img src="/static/img/share.png" alt=""></button>
		</div>
		<h3>Lodha Group</h3>
		<div class="read-more">
			<p>Lodha Group is among the foremost real estate developers in Mumbai. Established in
				1980,
				the
				developer etched its name in the history by recording one of the biggest land </p>
			<button class="read-more-btn">Read more</button>
		</div>
		{{> builder-projects-experince}}
	</div>
</div>