<footer class="footer">
	<div class="links col-6">
		<div class="terms-privacy">
			<a href="" class="col-2">OVERVIEW</a>
			<a href="" class="col-1">About Us </a>
			<a href="" class="col-1">Contact Us</a>
			<a href="" class="col-1">Terms</a>
			<a href="" class="col-1">Privacy Policy</a>
			<a href="" class="col-1">Blog</a>
			<a href="" class="col-1">Loan</a>
		</div>
		<div class="developer">DEVELOPER</div>
		<div class="developers-list">
			<ul class="col-3">
				<li>Kanakia</li>
				<li>Purvankara</li>
				<li>Lodha Group</li>
				<li>Wadhwa Group</li>
				<li>Sobha Limited</li>
			</ul>
			<ul class="col-3">
				<li>Prestige Group</li>
				<li>Godrej Properties</li>
				<li>Shapoorji Pallonj</li>
				<li>Kolte Patil Devlopers</li>
			</ul>
		</div>
	</div>

	<div class="social-icons col-6">
		<div class="keep-in-touch-section">
			<p class="keep-in-touch">KEEP IN TOUCH</p>
			<div class="social-btn">
				<button><img src="/static/img/facebook.png" alt="facebook"></button>
				<button><img src="/static/img/facebook.png" alt="facebook"></button>
				<button><img src="/static/img/facebook.png" alt="linkdin"></button>

			</div>
			<div class="company-name">
				<p>Homesfy</p>
				<p>Craft Financial Advisors Pvt. LTD</p>
			</div>
			<div class="mumbai-banglore-address">
				<ul class="col-4">
					<li>Mumbai</li>
					<li>Building, 602, Dev Corpora, Eastern Express Hwy, near Cadbury Junction, Thane,
						Maharashtra 400601</li>
				</ul>
				<ul class="col-4">
					<li>Bangalore</li>
					<li>24, Myworkarea, Benaka Complex, 2nd Cross, Sirur Park Road, Sheshadripuram,
						Bangalore-
						560020</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<div class="company-logo">
	<div class="homesfy-logo">
		<img src="/static/img/homesfy-logo.png" alt="">
	</div>
	<div class="magnet-logo">
		<img src="/static/img/homesfy-logo.png" alt="">
	</div>
</div>