<section class="home-listing">
	<ul>
		<li><button>Home <img src="/static/img/next.png" alt=""></button></li>
		<li><button>Property in Mumbai <img src="/static/img/next.png" alt=""></button> </li>
		<li><button>Property in Thane <img src="/static/img/next.png" alt=""></button> </li>
		<li><button>All Residential<img src="/static/img/next.png" alt=""></button></li>
	</ul>
</section>