<div class="localities-card">
	<img src="/static/img/home/LocalityImg.png" alt="">
	<div class="localities-card-details">
		<p class="location-name">Thane</p>
		<p> 851 Upcoming Projects</p>
		<p> 24469 Ongoing Projecs</p>
	</div>
</div>