<div class="propery-card-listing">
	<div class="card-img col-4">
		<div class="property-img-section">
			<img src="/static/img/listing/cardImg.png" class="property-img	" alt="">
			<div class="prev-next-btn">
				<button class="prev"><img src="/static/img/prev.png" alt=""></button>
				<button class="next"><img src="/static/img/next.png" alt=""></button>
			</div>
		</div>
		<div class="builder-logo-name">
			<img src="/static/img/listing/piramal-logo.png" alt="">
			<div class="builder-name">
				<p>Piramal Reality</p>
				<p>Builder</p>
			</div>
		</div>
	</div>

	<div class="card-content col-8">
		<div class="property-apartment">
			<div>
				<span>2 BHK Apartment </span>
				<span>in Piramal S Class Homes</span>
			</div>
			<div>
				<button class="share-btn"><img src="/static/img/share.png" alt=""></button>
			</div>
		</div>

		<div class="location-details">
			<div class="location-address">
				<img src="/static/img/listing/location-icon.png" alt="location-icon">
				<p>Mulund West, Mumbai</p>
			</div>
			<div class="education">
				<img src="/static/img/listing/graduation-cap.svg" alt="">
				<p>6 Education</p>
			</div>
			<div class="education-dropdown">

				<select name="education-dropdown" id="">
					<option value="05">05</option>
					<option value=""></option>
					<option value=""></option>
				</select>
			</div>
		</div>

		<div class="price-table">
			<p>1-4 BHK</p>
			<div class="price">
				<p>₹ 44.04 L - 01.50 Cr.</p>
				<img src="/static/img/listing/alert-icon.png" alt="">
			</div>
			<p>288-458sq.ft</p>
			<div class="education-dropdown">
				<select name="more-dropdown" id="">
					<option value="04">04 More</option>
					<option value=""></option>
					<option value=""></option>
				</select>
			</div>
		</div>

		<div class="offer">
			<p>Offer</p>
			<span> Free Registration & Stamp Duty</span>
		</div>

		<div class="possession">
			<p>Possession by Mar 2026</p>
			<span>New</span>
		</div>

		<div class="read-more">
			<p>2 BHK Property by Piramal Realty Mumbai in Mulund West Mumbai</p>
			<button class="read-more-btn">More</button>
		</div>

		<div class="region-experts">
			<img src="/static/img/listing/bipin-more.png" alt="">
			<div>
				<p class="expert-name">Bipin More</p>
				<p class="region-name">Thane's Region Experts</p>
			</div>
			<button class="view-phone">View Phone</button>
			<button class="details">Details</button>
		</div>

	</div>
</div>