<div class="col-2"></div>
				<div class="nav-seacrh-box col-6">
					<div class="search-box">
						<input class="col-10" type="text" placeholder="Search by location, project name or builder">
						<div class="col-2">
							<button class="location-btn"> 
								<img src="/static/img/listing/search.png" alt="">
							</button>
						</div>
					</div>
				</div>