<div class="similar-projects">
	<img class="property-img" src="/static/img/home/cardimage.png" alt="">
	<div class="property-details">
		<div class="builder-details">
			<div>
				<img src="" alt="">
				<p>Lodha Group</p>
			</div>
			<button><img src="/static/img/details/white-share.png" alt=""></button>
		</div>
		<ul>
			<li>
				<p>Lodha Primo</p>
				<div>
					<img src="/static/img/dark-location.png" alt="">
					<p>Parel, Mumbai</p>
				</div>
			</li>
			<li>
				<div>
					<span>Typology :</span>
					<span>2BHK; 3 BHK</span>
				</div>
				<div>
					<span>Price :</span>
					<span>₹ 4.54 Cr+</span>
				</div>
			</li>
			<li>
				<span>Offer :</span>
				<span>Exclusive 25:75 payment plan* </span>
			</li>
			<li>
				<div class="region-experts">
					<img src="/static/img/listing/bipin-more.png" alt="">
					<div>
						<p class="expert-name">Bipin More</p>
						<p class="region-name">Thane's Region Experts</p>
					</div>
					<button class="view-phone">View Phone</button>
					<button class="details">Details</button>
				</div>
			</li>
			<li>
				<div>
					<button>View Phone</button>
				</div>
				<div>
					<button class="share-btn"><img src="" alt=""></button>
				</div>
			</li>
		</ul>
	</div>

</div>