.featured-projects-card-mob{
    border-radius: 8px;
    .featured-projects-img-container{
        background: linear-gradient(180deg, #151E2D 0%, #151E2D 0%, rgba(0, 0, 0, 0) 38.14%),url('/static/img/home/cardimage.png');
        border-bottom: 1px solid rgba(21, 30, 45, 0.04);
        border-radius: 0px 0px 8px 8px;
        .property-details{
            color: #fff;
            li{
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                span{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
            .name{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
            }
        }
        .property-logo{
            color: #fff;
            display: flex;
        }
    }
}