<!DOCTYPE html>
<html lang="en">

<head>
	{{> default}}
	<title>Document</title>
	<link rel="stylesheet" href="/static/scss/builder.css">

</head>

<body>
	<main>
		<header>
			<nav>
				{{> logo}}
				{{> search-box}}
				<div class="nav-btn col-md-4 col-xs-12">
					<ul>
						{{> icons}}
						{{> menu}}
					</ul>
				</div>
			</nav>
		</header>

		<section class="banner">
		</section>

		{{> home-listing}}

		<div class="builder-container">
			<div class="col-md-8 col-xs-12">

				<section class="overview">
					<div class="heading-content">
						<h2 class="heading">Overview</h2>
						<p class="sub-heading">Lodha Palava Lakeshore Greens</p>
					</div>
					<div>
						<p>Lorem Ipsum is simply and typesetting ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</div>
				</section>

				<section>
					<div class="top-cities-card col-md-4">
						<div>
							<img src="/static/img/builder/Mumbai.png" alt="">
						</div>
						<p class="city-name">Mumbai</p>
					</div>
				</section>

			</div>

			<section class="form-section col-md-4 col-xs-12">
				{{> form}}
			</section>

		</div>

		{{> most-popular-search}}

		{{> footer}}
	</main>
</body>

</html>