<!DOCTYPE html>
<html lang="en">

<head>
	{{> default}}
	<title>Document</title>
	<link rel="stylesheet" href="/static/scss/details.css">

</head>

<body>
	<main>
		<header>
			<nav>
				{{> logo}}
				{{> search-box}}
				<div class="nav-btn col-4">
					<ul>
						{{> icons}}
						{{> menu}}
					</ul>
				</div>
			</nav>
		</header>

		<section class="banner">
		</section>

		{{> home-listing}}

		<div class="detail-container">
			<div class="col-8">


				{{!-- <section>
					<div class="main-details">
						<div class="apartment-details">
							<div class="apartment">
								<span>3BHK Apartment </span>
								<span>in lodha world tower</span>
							</div>
							<div class="Skyscraper">
								<img src="/static/img/details/Skyscraper.png" alt="">
								<p>Skyscraper in Mumbai</p>
							</div>
							<div class="status-bath-detail">
								<div class="status">
									<p>STATUS</p>
									<p>Ready to move</p>
								</div>
								<div class="bath">
									<p>BATH</p>
									<div>
										<span>2</span>
										<img src="/static/img/details/bathtub.png" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="price-mini-table">
							<div>
								<div class="emi">
									<div>
										<img src="" alt="rupee">
										<div>
											<p>2.5 crore</p>
											<p>5400 / sqft</p>
										</div>
									</div>
									<div>
										<p>EMI</p>
										<button></button>
									</div>
								</div>
								<div>
									<p>1800 sqft</p>
									<div>
										<p>CARPET AREA</p>
										<p>1500 sqft</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="area-details">
					<div>
						<p>3 BHK Details</p>
					</div>

					<div>
						<table>
							<tr>
								<th>TYPOLOGY</th>
								<th>PRICE</th>
								<th>AREA SIZE</th>
								<th>CARPET AREA</th>
							</tr>
							<tr>
								<td>3 BHK</td>
								<td>2.5 Crore</td>
								<td>1800 Sq.ft</td>
								<td>1500 Sq.ft</td>
							</tr>
						</table>
					</div>

					<div>
						<div>
							<span>STATUS: </span>
							<span>Ready To Move</span>
						</div>
						<div>
							<span>RERA ID : </span>
							<span>P02500004327</span>
						</div>
					</div>

					<div>
						<div>
							<ul>
								<li>lodha world tower</li>
								<li>PROJECT AREA: <span> 2 acres</span></li>
								<li>FLOOR: <span>12</span></li>
								<li>FLATS: <span>68</span></li>
							</ul>
						</div>
						<div>
							<img src="" alt="">
						</div>
					</div>
				</section> --}}

				<section class="project-specification">
					<div class="property-name">
						<p>Lodha Palava Lakeshore Greens</p>
						{{> share-btn}}
					</div>
					<div class="property-address">
						<img src="/static/img/listing/location-icon.png" alt="">
						<p>Dombivali, Mumbai</p>
						<a href="">(show on map)</a>
					</div>
					<div class="apartment-details">
						<div class="apartment col-3">
							<p> 1 - 4 BHK</p>
							<span>Apartment</span>
						</div>
						<div class="carpet-area col-3">
							<span>444 - 759 sq ft</span>
							<div>
								<p>Carpet Area</p>
								<button><img src="" alt=""></button>
							</div>
						</div>
						<div class="builder-price col-3">
							<span>₹44.99 L - ₹4 Cr</span>
							<div>
								<p>Builder Price</p>
								<button><img src="" alt=""></button>
							</div>
						</div>
						<div class="rera col-3">
							<span>51700046311</span>
							<p>PROJECT RERA ID</p>
						</div>
					</div>
				</section>

				<section class="navbar">
					<div>
						<ul>
							<li>Overview</li>
							<li>Price & Floor Plan</li>
							<li>Amenities</li>
							<li>About Builder</li>
							<li>Neighbourhood</li>
							<li>Similar</li>
						</ul>
					</div>
				</section>

				<section class="project-highlight-section">
					<div class="project-highlights">
						<div>
							<div>
								<p>Oct'26</p>
								<p>Possession Start Date</p>
							</div>
							<div>
								<p>Launch</p>
								<p>Status</p>
							</div>
							<div>
								<p>50 Acres</p>
								<p>Status</p>
							</div>
						</div>
						<div>
							<div>
								<p>605</p>
								<p>Total Launched apartments</p>
							</div>
							<div>
								<p>Aug'22</p>
								<p>Launch Date</p>
							</div>
							<div>
								<p>New</p>
								<p>Availability</p>
							</div>
						</div>
						<div>
							{{> offer}}
						</div>
					</div>
				</section>

				<section class="overview">
					<div class="heading-content">
						<h2 class="heading">Overview</h2>
						<p class="sub-heading">Lodha Palava Lakeshore Greens</p>
					</div>
					<div>
						<p>Lorem Ipsum is simply and typesetting ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</div>
				</section>

				<section class="price-floor-plan">
					<div class="heading-content">
						<h2 class="heading">Price</h2>
						<p class="sub-heading">& floor plan</p>
					</div>
					<div class="tab-btn">
						<div>
							<button>All <span>13 Sizes</span></button>
						</div>
						<div>
							<button>1Rk <span>02 Sizes</span></button>
						</div>
						<div>
							<button>1Bhk <span>05 Sizes</span></button>
						</div>
						<div>
							<button>2Bhk <span>03 Sizes</span></button>
						</div>
						<div>
							<button>3Bhk <span>02 Sizes</span></button>
						</div>
						<div>
							<button>4Bhk </button>
						</div>
					</div>
					<div class="floor-plan">
						<div>
							<img src="" alt="">
						</div>
						<div>
							<img src="" alt="">
							<p>39.7 Lakh*,</p>
							<p>1 RK</p>
						</div>
						<div>
							<img src="" alt="">
							<p>497 sq. Ft</p>
						</div>
						<div>
							<button class="submit-btn">Enquire Now</button>
						</div>
					</div>
				</section>

				<section class="amenities">
					<div class="heading-content">
						<h2 class="heading">Amenities</h2>
						<p class="sub-heading">Lodha Palava Lakeshore Greens</p>
					</div>
					<div style="display: flex;">
						<div class="col-11" style="display: flex;">
							<div class="col-2">
								<img src="" alt="">
								<p>Landscaped Gardens</p>
							</div>
							<div class="col-2">
								<img src="" alt="">
								<p>Landscaped Gardens</p>
							</div>
							<div class="col-2">
								<img src="" alt="">
								<p>Landscaped Gardens</p>
							</div>
							<div class="col-2">
								<img src="" alt="">
								<p>Landscaped Gardens</p>
							</div>
							<div class="col-2">
								<img src="" alt="">
								<p>Landscaped Gardens</p>
							</div>
							<div class="col-2">
								<img src="" alt="">
								<p>Landscaped Gardens</p>
							</div>
						</div>
						<div class="col-1">
							{{> share-btn}}
						</div>
					</div>
				</section>

				<section class="about-builder">
					<div class="heading-content">
						<h2 class="heading">About builder</h2>
						<p class="sub-heading">Lodha Group</p>
					</div>
					<div>
						<p>Developer Profile Lodha Group is among the foremost real estate developers in Mumbai.</p>
						<button>View More</button>
					</div>
					<div>
						<ul>
							<li>
								<span class="item1">42 years</span>
								<span class="item2"> Experience</span>
							</li>
							<li>
								<span class="item1">30</span>
								<span class="item2"> Projects*</span>
							</li>
						</ul>
					</div>
				</section>

				<section class="location">
					<div class="heading-content">
						<h2 class="heading">Location</h2>
						<p class="sub-heading">Lodha Group</p>
					</div>
				</section>

				<section class="similar-projects">
					<div class="heading-content">
						<h2 class="heading">Similar</h2>
						<p class="sub-heading">Projects</p>
					</div>
					<div>
						<img class="property-img" src="/static/img/home/cardimage.png" alt="">
						<div>
							<div>
								<img src="" alt="">
								<p>Lodha Group</p>
							</div>
							<img src="" alt="">
						</div>
						<ul>
							<li>
								<p>Lodha Primo</p>
								<div>
									<img src="/static/img/listing/location-icon.png" alt="">
									<p>Parel, Mumbai</p>
								</div>
							</li>
							<li>
								<div>
									<span>Typology :</span>
									<span>2BHK; 3 BHK</span>
								</div>
								<div>
									<span>Price :</span>
									<span>₹ 4.54 Cr+</span>
								</div>
							</li>
							<li>
								<span>Offer :</span>
								<span>Exclusive 25:75 payment plan* </span>
							</li>
							<li>
								<div class="region-experts">
									<img src="/static/img/listing/bipin-more.png" alt="">
									<div>
										<p class="expert-name">Bipin More</p>
										<p class="region-name">Thane's Region Experts</p>
									</div>
									<button class="view-phone">View Phone</button>
									<button class="details">Details</button>
								</div>
							</li>
							<li>
								<div>
									<button>View Phone</button>
								</div>
								<div>
									<button class="share-btn"><img src="" alt=""></button>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>

			<section class="form-section col-4">
				{{> form}}
			</section>

		</div>

		{{> most-popular-search}}

		{{> footer}}
	</main>
</body>

</html>