<!DOCTYPE html>
<html lang="en">

<head>
	{{> default}}
	<title>Document</title>
	<link rel="stylesheet" href="/static/scss/details.css">

</head>

<body>
	<main>
		<header>
			<nav>
				{{> logo}}
				{{> search-box}}
				<div class="nav-btn col-4">
					<ul>
						{{> icons}}
						{{> menu}}
					</ul>
				</div>
			</nav>
		</header>

		<section class="banner">
		</section>

		{{> home-listing}}

		<div class="detail-container">
			<div class="col-8">


				{{!-- <section>
					<div class="main-details">
						<div class="apartment-details">
							<div class="apartment">
								<span>3BHK Apartment </span>
								<span>in lodha world tower</span>
							</div>
							<div class="Skyscraper">
								<img src="/static/img/details/Skyscraper.png" alt="">
								<p>Skyscraper in Mumbai</p>
							</div>
							<div class="status-bath-detail">
								<div class="status">
									<p>STATUS</p>
									<p>Ready to move</p>
								</div>
								<div class="bath">
									<p>BATH</p>
									<div>
										<span>2</span>
										<img src="/static/img/details/bathtub.png" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="price-mini-table">
							<div>
								<div class="emi">
									<div>
										<img src="" alt="rupee">
										<div>
											<p>2.5 crore</p>
											<p>5400 / sqft</p>
										</div>
									</div>
									<div>
										<p>EMI</p>
										<button></button>
									</div>
								</div>
								<div>
									<p>1800 sqft</p>
									<div>
										<p>CARPET AREA</p>
										<p>1500 sqft</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="area-details">
					<div>
						<p>3 BHK Details</p>
					</div>

					<div>
						<table>
							<tr>
								<th>TYPOLOGY</th>
								<th>PRICE</th>
								<th>AREA SIZE</th>
								<th>CARPET AREA</th>
							</tr>
							<tr>
								<td>3 BHK</td>
								<td>2.5 Crore</td>
								<td>1800 Sq.ft</td>
								<td>1500 Sq.ft</td>
							</tr>
						</table>
					</div>

					<div>
						<div>
							<span>STATUS: </span>
							<span>Ready To Move</span>
						</div>
						<div>
							<span>RERA ID : </span>
							<span>P02500004327</span>
						</div>
					</div>

					<div>
						<div>
							<ul>
								<li>lodha world tower</li>
								<li>PROJECT AREA: <span> 2 acres</span></li>
								<li>FLOOR: <span>12</span></li>
								<li>FLATS: <span>68</span></li>
							</ul>
						</div>
						<div>
							<img src="" alt="">
						</div>
					</div>
				</section> --}}

				<section class="project-specification">
					<div>
						<p>Lodha Palava Lakeshore Greens</p>
						{{> share-btn}}
					</div>
					<div>
						<img src="/static/img/listing/location-icon.png" alt="">
						<p>Dombivali, Mumbai</p>
						<a href="">(show on map)</a>
					</div>
					<div>
						<div class="apartment">
							<p> 1 - 4 BHK</p>
							<p>Apartment</p>
						</div>
						<div class="carpet-area">
							<p>444 - 759 sq ft</p>
							<div>
								<p>Carpet Area</p>
								<button><img src="" alt=""></button>
							</div>
						</div>
						<div class="builedr-price">
							<p>₹44.99 L - ₹4 Cr</p>
							<div>
								<p>Builder Price</p>
								<button><img src="" alt=""></button>
							</div>
						</div>
						<div>
							<p>P51700046311</p>
							<p>PROJECT RERA ID</p>
						</div>
					</div>
				</section>

				<section class="navbar">
					<div>
						<ul>
							<li>Overview</li>
							<li>Price & Floor Plan</li>
							<li>Amenities</li>
							<li>About Builder</li>
							<li>Neighbourhood</li>
							<li>Similar</li>
						</ul>
					</div>
				</section>

				<section class="project-highlight-section">
					<div class="project-highlights">
						<div>
							<div>
								<p>Oct'26</p>
								<p>Possession Start Date</p>
							</div>
							<div>
								<p>Launch</p>
								<p>Status</p>
							</div>
							<div>
								<p>50 Acres</p>
								<p>Status</p>
							</div>
						</div>
						<div>
							<div>
								<p>605</p>
								<p>Total Launched apartments</p>
							</div>
							<div>
								<p>Aug'22</p>
								<p>Launch Date</p>
							</div>
							<div>
								<p>New</p>
								<p>Availability</p>
							</div>
						</div>
						<div>
							{{> offer}}
						</div>
					</div>
				</section>

				<section class="overview">
				</section>

				<section class="price-floor-plan">
				</section>

				<section class="amenities">
				</section>

				<section class="about-builder">
				</section>

				<section class="location">
				</section>

				<section class="similar-projects">
				</section>
			</div>

			<section class="form-section col-4">
				{{> form}}
			</section>

		</div>

		{{> most-popular-search}}

		{{> footer}}
	</main>
</body>

</html>