html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #151E2D;
  letter-spacing: 0.2px;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Nunito";
}

ul {
  padding: 0;
}

ul, ol {
  list-style: none;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  color: #000;
}

section {
  margin-bottom: 110px;
  padding: 0px 48px;
}

.most-popular-search .popular-searches {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.most-popular-search .popular-searches .cities, .most-popular-search .popular-searches .regions, .most-popular-search .popular-searches .locality, .most-popular-search .popular-searches .developers {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4784313725);
  font-weight: 800;
  font-size: 18px;
}

.search-btn {
  font-weight: 600;
  background: #049B5A;
  color: #fff;
  border: 1px solid #049B5A;
  border-radius: 50px;
  padding: 10px;
}

.mobBlock {
  display: none;
}

.deskBlock {
  display: block;
}

@media (max-width: 768px) {
  section {
    padding: 0 16px;
  }
  .mobBlock {
    display: block;
  }
  .deskBlock {
    display: none;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 0 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 0 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 0 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.logo img {
  display: inline-block;
}

@media (max-width: 768px) {
  .logo img {
    content: url("/static/img/HomesfyLogo_Mob.svg");
  }
}
.arrow, .call, .question {
  display: flex;
}
.arrow .arrow-btn, .arrow .call-btn, .arrow .question-btn, .call .arrow-btn, .call .call-btn, .call .question-btn, .question .arrow-btn, .question .call-btn, .question .question-btn {
  color: #000;
  border-radius: 50px;
  padding: 5px 10px;
  display: block;
  margin-bottom: 10px;
}

.question {
  flex-direction: row-reverse;
}

.arrow-btn, .call-btn {
  border: 1px solid #049B5A;
}

.arrow-btn {
  background: rgba(201, 250, 209, 0.32);
}

.call-btn {
  background-color: #049B5A;
}

.question-btn {
  background-color: rgba(254, 243, 203, 0.32);
  border: 1px solid #F59A00;
}

.menu {
  border: 1px solid #151E2D;
  border-radius: 50px;
  padding: 10px;
  background-color: #fff;
}

header {
  top: 0;
  z-index: 99;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-size: 18px;
}
header nav .logo {
  width: 20%;
}
header nav .nav-btn {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
  align-items: center;
}
header nav .nav-btn ul {
  display: flex;
}
header nav .nav-btn ul li:first-child {
  margin-right: 30px;
}
header nav .nav-btn ul li:last-child {
  margin-right: 20px;
}

@media (max-width: 768px) {
  header nav .nav-btn {
    display: none;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banner .banner-content {
  position: relative;
  top: 0%;
  z-index: 1;
  color: #151E2D;
}
.banner .banner-content p {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.banner .banner-content h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
}
.banner .banner-content .search-box {
  display: flex;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 5px;
  background: #fff;
}
.banner .banner-content .search-box input {
  border: none;
  width: 80%;
  border-radius: 50px;
  padding: 5px;
}
.banner .banner-content .search-box div {
  display: flex;
}
.banner .banner-content .search-box div .location-btn, .banner .banner-content .search-box div .search-btn {
  border: 1px solid #049B5A;
  border-radius: 50px;
  padding: 10px;
}
.banner .banner-content .search-box div .location-btn {
  background: rgba(201, 250, 209, 0.32);
  padding: 10px 12px;
  margin-right: 10px;
}
.banner .banner-content .search-box div .search-btn {
  font-weight: 600;
  background: #049B5A;
  color: #fff;
}

@media (max-width: 768px) {
  .banner .banner-content p {
    font-size: 14px;
    line-height: 19px;
  }
  .banner .banner-content h1 {
    font-size: 20px;
    line-height: 27px;
  }
  .banner .banner-content .search-box div .location-btn {
    display: none;
  }
}
.heading-content {
  display: flex;
}
.heading-content .heading {
  font-weight: 600;
  border-bottom: 3px solid #F59A00;
  color: rgba(21, 30, 45, 0.5607843137);
}
.heading-content .sub-heading {
  font-size: 26px;
  font-weight: 800;
  padding: 0 0 0 10px;
}

.prev-next-btn .prev, .prev-next-btn .next {
  border-radius: 50px;
  padding: 5px 10px;
}
.prev-next-btn .prev {
  background: #fff;
  border: 1px solid #151E2D;
}
.prev-next-btn .next {
  background: rgba(201, 250, 209, 0.32);
  border: 1px solid #049B5A;
}

.footer {
  display: flex;
  background: #151E2D;
  color: #fff;
  padding: 50px;
  font-size: 14px;
}
.footer .links .terms-privacy {
  margin-bottom: 40px;
}
.footer .links .terms-privacy a {
  text-decoration: none;
  color: #fff;
  padding-right: 10px;
}
.footer .links .terms-privacy a:first-child {
  font-weight: 600;
}
.footer .developers-list, .footer .mumbai-banglore-address {
  display: flex;
}
.footer .developers-list ul, .footer .mumbai-banglore-address ul {
  line-height: 20px;
  font-weight: 600;
  font-size: 12px;
}
.footer .developer, .footer .keep-in-touch, .footer .company-name {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer .keep-in-touch-section .social-btn {
  margin-bottom: 20px;
}
.footer .keep-in-touch-section .social-btn button {
  background: rgba(105, 102, 102, 0.6901960784);
  border: 1px solid rgba(105, 102, 102, 0.6901960784);
  border-radius: 4px;
}
.footer .keep-in-touch-section .social-btn button img {
  padding: 2px;
  width: 50%;
}
.footer .company-logo {
  display: flex;
}

.company-logo {
  display: flex;
  justify-content: space-between;
  background: #151E2D;
  border-top: 1px solid #ccc;
  padding: 20px 50px;
  text-align: right;
}

.propery-card-listing {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
.propery-card-listing .card-img .builder-logo-name {
  display: flex;
}
.propery-card-listing .card-img .builder-logo-name img {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
}
.propery-card-listing .card-img .builder-logo-name .builder-name {
  padding-left: 20px;
}
.propery-card-listing .card-content {
  padding-left: 20px;
}
.propery-card-listing .card-content .property-apartment, .propery-card-listing .card-content .location-details, .propery-card-listing .card-content .price-table, .propery-card-listing .card-content .offer, .propery-card-listing .card-content .possession, .propery-card-listing .card-content .read-more, .propery-card-listing .card-content .region-experts {
  display: flex;
  margin-bottom: 10px;
}
.propery-card-listing .card-content .property-apartment {
  justify-content: space-between;
}
.propery-card-listing .card-content .property-apartment div span {
  font-size: 18px;
}
.propery-card-listing .card-content .property-apartment div span:first-child {
  font-size: 22px;
  font-weight: 800;
}
.propery-card-listing .card-content .location-details {
  align-items: center;
}
.propery-card-listing .card-content .location-details .location-address, .propery-card-listing .card-content .location-details .education {
  display: flex;
  padding: 5px;
}
.propery-card-listing .card-content .location-details .location-address img, .propery-card-listing .card-content .location-details .education img {
  padding: 0 5px 0 0;
  width: 15px;
  height: 20px;
}
.propery-card-listing .card-content .location-details .education {
  border: 1px solid rgba(245, 154, 0, 0.32);
  padding: 5px;
  border-radius: 8px;
  margin-right: 10px;
}
.propery-card-listing .card-content .price-table {
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 31px 157px rgba(0, 0, 0, 0.02), 0px 9.34559px 47.3309px rgba(0, 0, 0, 0.04), 0px 3.88168px 19.6588px rgba(0, 0, 0, 0.05), 0px 1.40393px 7.11022px rgba(0, 0, 0, 0.07);
  padding: 5px;
}
.propery-card-listing .card-content .price-table .price {
  display: flex;
}
.propery-card-listing .card-content .possession p {
  border-right: 1px solid #000;
  padding-right: 10px;
}
.propery-card-listing .card-content .possession span {
  padding-left: 10px;
  color: #049B5A;
  font-weight: 600;
}
.propery-card-listing .card-content .region-experts {
  justify-content: space-between;
  align-items: center;
}
.propery-card-listing .card-content .region-experts button {
  border-radius: 30px;
  padding: 5px 15px;
  margin: 10px;
}
.propery-card-listing .card-content .region-experts .view-phone {
  border: 1px solid #049B5A;
  background: #fff;
  color: #049B5A;
}
.propery-card-listing .card-content .region-experts .details {
  border: 1px solid #049B5A;
  background: #049B5A;
  color: #fff;
}
.propery-card-listing .card-content .region-experts .expert-name {
  font-size: 14px;
  font-weight: 600;
}
.propery-card-listing .card-content .region-experts .region-name {
  font-size: 12px;
}

.education-dropdown select {
  border-radius: 8px;
  padding: 8px;
  background: #000;
  color: #fff;
}

.read-more-btn {
  border: none;
  color: #049B5A;
  background: #fff;
}

.property-listing-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-listing-filter select {
  border: 1px solid rgba(21, 30, 45, 0.32);
  border-radius: 8px;
  background: #fff;
  color: #151E2D;
  opacity: 0.64;
  padding: 10px;
}

.common-form {
  border: 1px solid #F59A00;
  border-radius: 8px;
  padding: 20px;
}
.common-form .form-heading {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.common-form .form-heading, .common-form .name-cont, .common-form .contact-group, .common-form .notification, .common-form .home-lone {
  margin-bottom: 20px;
}
.common-form input, .common-form select, .common-form .submit-btn {
  width: 100%;
}
.common-form .username, .common-form .phone-number, .common-form select, .common-form .submit-btn {
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.common-form .username, .common-form select {
  color: #049B5A;
  border: 1px solid #049B5A;
}
.common-form .contact-group {
  display: flex;
}
.common-form .contact-group .country-code {
  width: 30%;
  padding-right: 10px;
}
.common-form .contact-group .country-code select {
  background: #fff;
  color: #000;
}
.common-form .contact-group .m-number-cont {
  width: 70%;
}
.common-form .contact-group .m-number-cont input {
  border: 1px solid #000;
}
.common-form .submit-btn {
  border: 1px solid #049B5A;
  border-radius: 50px;
  background: #049B5A;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.common-form .notification, .common-form .home-lone {
  display: flex;
  font-size: 14px;
}
.common-form .notification .checkbox1, .common-form .notification .checkbox2, .common-form .home-lone .checkbox1, .common-form .home-lone .checkbox2 {
  width: 22px;
  height: 22px;
}
.common-form .notification p, .common-form .home-lone p {
  padding-left: 20px;
  color: #999999;
}

.name-cont, .country-code {
  position: relative;
  z-index: 9;
}
.name-cont label, .country-code label {
  top: -30%;
  position: absolute;
  z-index: 999;
  background: #fff;
  color: #000;
  left: 4%;
  padding: 4px;
  font-size: 12px;
  color: #049B5A;
  font-weight: 600;
}

.country-code label {
  left: 12%;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #049B5A;
  background: rgba(201, 250, 209, 0.48);
  padding: 5px;
  border-radius: 50px;
}
.search-box input, .search-box .location-btn {
  border: none;
  background: rgba(201, 250, 209, 0.0392156863);
}
.search-box input {
  padding: 10px;
  border-radius: 50px;
}
.search-box input:focus {
  outline: none;
}
.search-box .location-btn {
  background: none;
  padding: 5px 0 0 40px;
}

.home-listing {
  padding: 10px 20px;
  background-color: #C9FAD1;
}
.home-listing ul {
  display: flex;
}
.home-listing ul li {
  margin-right: 20px;
}
.home-listing ul li button {
  display: flex;
  background: #C9FAD1;
  border: none;
}
.home-listing ul li button img {
  padding: 0 0 0 5px;
}

main section {
  margin-bottom: 40px;
}

.banner {
  background-image: url(/static/img/home/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-bottom: 0px;
}

.main-content {
  display: flex;
}
.main-content .form-section {
  padding: 0 48px 0 0;
}

.property-listing-filter-section {
  margin-bottom: 20px;
}

.propery-card-listing {
  margin-bottom: 48px;
}
.propery-card-listing .card-img .property-img-section .property-img {
  width: 100%;
}
.propery-card-listing .card-content .property-apartment {
  margin-bottom: 0px;
}
.propery-card-listing .card-content .property-apartment div span {
  font-size: 14px;
}
.propery-card-listing .card-content .property-apartment div span:first-child {
  font-size: 16px;
}
.propery-card-listing .card-content .property-apartment .share-btn {
  background: rgba(201, 250, 209, 0.32);
  padding: 5px 6px;
  border-radius: 50px;
  border: 1px solid #049B5A;
}
.propery-card-listing .card-content .price-table div, .propery-card-listing .card-content .price-table p {
  padding-right: 10px;
  font-size: 12px;
}
.propery-card-listing .card-content .price-table .price img {
  width: 20px;
  height: 20px;
}
.propery-card-listing .card-content .location-details {
  font-size: 14px;
}
.propery-card-listing .card-content .offer p {
  font-size: 14px;
  padding: 2px;
}
.propery-card-listing .card-content .offer span {
  font-size: 12px;
}
.propery-card-listing .card-content .possession {
  font-size: 14px;
}
.propery-card-listing .card-content .read-more {
  font-size: 12px;
}
.propery-card-listing .card-content .region-experts img {
  width: 40px;
  height: 40px;
}

.property-listing-filter .commute-search-btn, .property-listing-filter .clear-filter-btn {
  display: flex;
  border: 1px solid rgba(21, 30, 45, 0.32);
  border-radius: 8px;
  padding: 5px;
}
.property-listing-filter .commute-search-btn input, .property-listing-filter .clear-filter-btn input {
  background: #fff;
  color: #151E2D;
  opacity: 0.64;
  border: none;
  padding: 0px 5px;
}
.property-listing-filter .clear-filter-btn {
  border: none;
}
.property-listing-filter .clear-filter-btn input {
  color: #049B5A;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=listing.css.map */