.footer{
	display: flex;
	background: #151E2D;
	color: #fff;
	padding: 50px;
	.links{
		.terms-privacy{
			margin-bottom: 40px;
			a{
				text-decoration: none;
				color: #fff;
				padding-right: 10px;
				font-size: 16px;
			}
		}
		
	}
}