.footer{
	display: flex;
	background: #151E2D;
	color: #fff;
	padding: 50px;
	font-size: 14px;
	.links{
		.terms-privacy{
			margin-bottom: 40px;
			a{
				text-decoration: none;
				color: #fff;
				padding-right: 10px;
				&:first-child{
					font-weight: 600;
				}
			}
		}
	}

	.developers-list, .mumbai-banglore-address{
		display: flex;
		ul{
			line-height: 20px;
			font-weight: 600;
			font-size: 12px;
		}
	}

	.developer,.keep-in-touch, .company-name{
		font-weight: 600;
		margin-bottom: 10px;
	}

	.keep-in-touch-section
	{
		.social-btn{
			margin-bottom: 20px;
		}
	}
}