.property-listing-filter{
	display: flex;
	justify-content: space-between;
	align-items: center;
	select{
		border: 1px solid rgba(21, 30, 45, 0.32);
		border-radius: 8px;
		background: #fff;
		padding: 10px;
		opacity: 0.64;
	}
}