.propery-card-listing{
	display: flex;
	align-items: flex-start;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 20px;
	.card-img{

	}
	.builder-logo-name
	{
		display: flex;
		padding: auto 10px;
		img{
			background: #fff;
			border: 1px solid #ccc;
			border-radius: 4px;
			padding: 5px 10px;
		}
		.builder-name{
			padding-left: 20px;
		}
	}
}