.propery-card-listing{
	display: flex;
	align-items: flex-start;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 20px;
	.card-img{
		.builder-logo-name{
			display: flex;
			img{
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 5px 10px;
			}
			.builder-name{
				padding-left: 20px;
			}
		}
	}

	.card-content{
		padding: 0px 20px;
		.property-apartment{
			display: flex;
			justify-content: space-between;
			div{
				span{
					font-size: 18px;
					&:first-child{
						font-size: 22px;
						font-weight: 800;
					}
				}
			}
		}

		.location-details{
			display: flex;
			.location-address, .education{
				display:flex;
				padding: 6px;
			}
			.education{
				border:1px solid rgba(245, 154, 0, 0.32);
				padding: 5px;
				border-radius: 8px;
			}
			.education-dropdown{
				select{
					border-radius: 8px;
					padding: 5px;
					background: #000;
					color: #fff;
				}
			}
		}
	}
	
}