.propery-card-listing{
	display: flex;
	align-items: flex-start;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 20px;
	.card-img{
		.builder-logo-name{
			display: flex;
			img{
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 5px 10px;
			}
			.builder-name{
				padding-left: 20px;
			}
		}
	}

	.card-content{
		padding: 0px 20px;
		.property-apartment{
			display: flex;
			justify-content: space-between;
		}
	}
	
}